# Data Manipulation
pandas==2.2.3
numpy==2.0.0

# Database
SQLAlchemy==2.0.35

# Machine Learning
scikit-learn==1.5.1
joblib==1.4.2

# Natural Language Processing
nltk==3.9.1

# Web Framework
Flask==3.0.3

# Data Visualization
matplotlib==3.9.2
matplotlib-inline==0.1.7

seaborn==0.13.2

#git libs
git-filter-repo==2.45.0
gitdb==4.0.11
GitPython==3.1.43

# Others (if using GridSearchCV or tuning models)
scipy==1.13.1
pytest==8.3.2

